@media all and (max-width: 60em) {
	.my-breakpoint .ui-block-a {
        width:100%;
        
    } 
	.my-breakpoint .ui-block-b { 
		width:100%; 
		float:left; 
        position:left;
	}
}

@media all and (min-width: 61em) {
	.my-breakpoint .ui-block-a {
        width:10em;
        
    } 
    
    
}

.sortbutton {
    width:12em;
}

.override-ui-screen-hidden {
  display:block !important;   
}

.tweettext {
    display: block;
}
